<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <h2>Articles:</h2>         
            <hr>
            <div *ngFor="let article of articles">
            <img src="{{article?.Image?.path}}">
            <h3 class="text-uppercase"><a href="">{{article?.title}}</a></h3>
            <p class="short-article-body">{{article?.body}}</p>
            <p>{{article?.name}}</p>
            <p>{{article?.date}}</p>
            <hr>
            </div>
        </div>
        <div class="col-md-3">
            <h2>Anonses:</h2>    
            <hr>     
            <div *ngFor="let anonse of anonses">
            <p>{{anonse?.anonse_date}}</p>
            <p>{{anonse?.body}}</p>
            <hr>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>