<div class="container" style="padding-top:54px;
padding-bottom:80px;">
        <div class="row">
        
          <!-- Blog Entries Column -->
          <div class="col-md-8">
        
            <h1 class="my-4">Події,
              <small>що відбулися</small>
            </h1>
        
            <!-- Blog Post -->
            <div class="card mb-4" *ngFor="let article of articles">
              <img class="card-img-top" src="{{article?.Image?.path}}" style="max-width: 750px;max-height:300px;"alt="Card image cap">
              <div class="card-body">
                <h2 class="card-title">{{article?.title}}</h2>
                <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                  {{article?.body}}</p>
                <a [routerLink]="['/post',article.id]" class="btn btn-primary">Читати більше &rarr;</a>
              </div>
              <div class="card-footer text-muted">
                {{article?.date}} від
                <a href="#">{{article?.name}}</a>
              </div>
            </div>
        
         
            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
              <li class="page-item">
                <a class="page-link" href="#">&larr; Назад</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#">Далі &rarr;</a>
              </li>
            </ul>
        
          </div>
        
          <!-- Sidebar Widgets Column -->
          <div class="col-md-4">
        
            <!-- Side Widget -->
            <div class="card my-4">
              <h5 class="card-header">Події,
                <small>що відбудуться</small>
              </h5>
                <div class="card-body" *ngFor="let anonse of anonses">
                  {{anonse?.anonse_date}}
                  <p>{{anonse?.body}}</p>
                  <hr>
            </div>
        
          </div>
        
        </div>
        <!-- /.row -->
        
        </div>