<div class="container">
        <div class="row my-2">
                <div class="col-lg-4 order-lg-1 text-center">
                        <cl-image *ngIf="profile?.image?.path" public-id="{{profile?.image?.path}}" >
                            <cl-transformation width="400" height="400" gravity="face" radius="max" crop="crop">
                            </cl-transformation>
                            <cl-transformation width="200" crop="scale">
                            </cl-transformation>
                        </cl-image>
                        <label class="custom-file" >
                            <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''; changeImage()"
                        multiple />
                            <span class="btn btn-outline-primary">Завантажити</span>
                        </label>
                        <div style="padding-top: 40px">
                        <p class="text-center">{{profile?.sername}} {{profile?.name}}</p>
                        <p class="text-center font-italic">{{profile?.email}}</p>
                        <p class="text-center font-weight-light">{{profile?.desc}}</p>    
                        </div>
                    </div>
            <div class="col-lg-8 order-lg-2">
                    <ul class="nav nav-tabs">
                            <li class="nav-item">
                                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link active">Профіль</a>
                                </li>
                            <li class="nav-item">
                                <a href="" data-target="#feedback" data-toggle="tab" class="nav-link">Зворотній зв'язок</a>
                            </li>
                        </ul>
                        <div class="tab-content py-4">
                        <div class="tab-pane active" id="edit">
                                <form role="form">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Ім'я</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" [(ngModel)]="profile.name" name="name" placeholder="profile.name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Фамілія</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" [(ngModel)]="profile.sername" name="sername" placeholder="profile.sername">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Елктронна адреса</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="email" [(ngModel)]="profile.email" name="email" placeholder="profile.email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Про себе</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" [(ngModel)]="profile.desc" name="desc" placeholder="profile.desc">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 col-form-label form-control-label">Електронне сповіщення <input class="form-control" type="checkbox" [(ngModel)]="profile.mailing" name="mailing"></label>
                                    </div>                                    
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <input type="button" class="btn btn-primary" (click)=updateProfile(profile) value="Зберегти">
                                        </div>
                                    </div>
                                </form>
                        </div>
                            <div class="tab-pane" id="feedback">           
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h4>Залишити повідомлення</h4>
                                        <textarea class="form-control textarea" rows="3" name=feedback></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <input type="button" class="btn btn-primary" (click)=sendFeedback(feedback) value="Відправити">
                                    </div>
                                </div>                    
                            </div>                            
                        </div>
                    </div>            
        </div>
    </div>