<footer class="footer-distributed">

        <div class="footer-left">

            <h3>Першотравневий<span>БК</span></h3>

            <p class="footer-links">
                <a href="#">Головна</a>
                ·
                <a routerLink="gallery">Галерея</a>
                ·
                <a routerLink="">Колективи</a>
                ·
                <a routerLink="about">Про нас</a>
                ·
                <a href="#">Контакти</a>
            </p>

            <p class="footer-company-name">Першотравневий БК &copy; 2018</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>вул Миру, 3</span> с.Першотравневе, Одеська обл, Україна</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p><span>Директор(Німчук В.М)</span> 0505940390</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#">pershotravneviybk@gmail.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>Коротко про нас:</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>

            <!-- <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div> -->

        </div>

    </footer>