<div class="container-fluid bg-light">
        <div class="row" style="padding-top: 65px;">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h4>Вибрати альбом</h4>
                <hr>
                <select  class="form-control" [ngModel]="selectedAlbum" (ngModelChange)="setAlbum($event)" name="album">
                    <option *ngFor="let album of albums" [ngValue]="album">{{album.title}}</option>
                </select>
            </div>
            <div class="col-lg-4"></div>
        </div>    
<div class="row" style="padding-top: 30px;padding-bottom: 65px;">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8">
        <hr>
        <ks-modal-gallery  [(modalImages)]="images"
    [previewConfig]="{visible: true, size: {width: '75px', height: '75px'}}" [plainGalleryConfig]="plainGalleryGrid"></ks-modal-gallery>
    </div>
</div>
    <div class="col-lg-2 col-md-2">
</div>
</div>