<!-- Menu -->
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>                    
    <!-- Brand -->
    <a class="navbar-brand" href="/">Першотравневий БК</a>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="nav-content">   
    <ul class="navbar-nav" id="menu">
    <li class="nav-item">
    <a class="nav-link" href="/gallery">Галерея</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Колективи</a>
    </li>
    <li *ngIf="logged" class="nav-item">
        <a class="nav-link" href="#">Вихід</a>
    </li>
    <li *ngIf="logged" class="nav-item">
        <a class="nav-link" href="#">Кабінет</a>
    </li>
    <li *ngIf="!logged" class="nav-item">
        <a class="nav-link" routerLink="login">Вхід</a>
    </li>
    <li *ngIf="!logged" class="nav-item">
        <a class="nav-link" routerLink="signup">Реєстрація</a>
    </li>
    </ul>
    </div>
</nav>
<!-- end Menu -->