<!-- Menu -->
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>                    
    <!-- Brand -->
    <a class="navbar-brand" href="/">Першотравневий БК</a>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="nav-content">   
    <ul class="nav navbar-nav" id="menu">
    <li class="nav-item">
    <a class="nav-link" href="/gallery">Галерея</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Колективи</a>
    </li>
    </ul>
    <ul class="nav navbar-nav">
            <li *ngIf="!isUserLoggedIn" class="nav-item"><a class="nav-link" routerLink="signup"><span class="glyphicon glyphicon-user"></span> Реєстрація</a></li>
            <li *ngIf="!isUserLoggedIn" class="nav-item"><a class="nav-link" routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Вхід</a></li>
            <li *ngIf="isUserLoggedIn" class="nav-item"><button class="btn nav-btn" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Вихід</button></li>
            <li *ngIf="isUserLoggedIn" class="nav-item"><a class="nav-link" routerLink="cabinet"><span class="glyphicon glyphicon-user"></span> Кабінет</a></li>
    </ul>
    </div>
</nav>
<!-- end Menu -->