<div class="container" style="padding-top:54px;
padding-bottom:80px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Реєстрація</h2>
                <div class="form-group">
                        <label>Логін:</label>
                        <input class="form-control" type="text" name="username" [(ngModel)]=user.username style="width: 100%" #username="ngModel" 
                        required pattern="[a-zA-Z_]{5,8}">
                        <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
                                Не вказаний логін(5-8 символів)
                        </div>
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    <input class="form-control" type="password" name="password" [(ngModel)]=user.password style="width: 100%" #password="ngModel" 
                    required pattern="[A-Za-z0-9]{6, 20}">
                    <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
                            Не вказаний пароль(не меньше 6 символів)
                    </div>
                </div>
                    <div class="form-group">
                        <label>Електронна адреса:</label>
                        <input class="form-control" type="email" name="email" [(ngModel)]=user.email style="width: 100%" #email="ngModel" required email>
                        <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                                Не вказана електронна адреса
                        </div>
                    </div>
                <button class="btn btn-default" [disabled]="username.invalid || email.invalid || password.invalid"  (click)="registration(user)">Registration</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>